/*@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
  /*font-family: 'cwTeXFangSong', sans-serif;*/
  font-family: ‘Noto Sans TC’, sans-serif;
}

html {
  overflow: hidden;
}

body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  background: #eee;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: arial;
  font-size: 0.8em;
}

#screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#screen img,
canvas {
  position: absolute;
  left: -9999px;
  cursor: pointer;
  image-rendering: optimizeSpeed;
}

#screen .href {
  border: #FFF dotted 1px;
}

#screen .fog {
  position: absolute;
  background: #fff;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

#command {
  position: absolute;
  left: 1em;
  top: 1em;
  width: 130px;
  height: 400px;
  z-index: 30000;
  background: #000;
  border: #000 solid 1em;
}

#bar {
  position: relative;
  left: 1em;
  top: 1em;
  height: 160px;
}

#bar .button {
  position: absolute;
  background: #222;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#bar .loaded {
  background: #666;
}

#bar .viewed {
  background: #fff;
}

#bar .selected {
  background: #f00;
}

#urlInfo {
  position: absolute;
  background: url(https://i.imgur.com/YD1Wurl.jpg) no-repeat 0 4px;
  visibility: hidden;
  z-index: 30000;
  padding-left: 12px;
  cursor: pointer;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inner, .nav-panel ul .nav-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 767px) {
  body {
    font-size: 70%;
  }
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  -webkit-perspective: 3000;
          perspective: 3000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.wrapper .page {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(180deg) scale(0.3);
          transform: rotateX(180deg) scale(0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  will-change: transform;
}

.wrapper .page h2 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  font-size: 3em;
}

.wrapper .page.page1 {
  background-color: #24353a;
  background-image: linear-gradient(10deg, #251153 20%, #5471B9 80%);
  /*background-image: linear-gradient(10deg, #303A52 20%, #574B90 80%);*/
}

.wrapper .page.page2 {
  background-color: #24353a;
  background-image: linear-gradient(10deg, #251153 20%, #5471B9 80%);
  /*background-image: linear-gradient(10deg, #303A52 20%, #574B90 80%);*/
}

.wrapper .page.page3 {
  background-color: #24353a;
  background-image: linear-gradient(10deg, #251153 20%, #5471B9 80%);
  /*background-image: linear-gradient(10deg, #303A52 20%, #574B90 80%);*/
}

.wrapper .page.page4 {
  background-color: #f29c54;
  background-image: linear-gradient(45deg, #f29c54 0%, #DB4367 100%);
}

.wrapper .page.page5 {
  background-color: #23af56;
  background-image: linear-gradient(135deg, #23af56 0%, #67A79A 100%);
}

.wrapper .page.page6 {
  background-color: #412F2F;
  background-image: linear-gradient(160deg, #412F2F 15%, #6B2686 85%);
}

.wrapper .page.page7 {
  background-color: #24353a;
  background-image: linear-gradient(10deg, #251153 20%, #5471B9 80%);
}

.wrapper.active-page1 {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.wrapper.active-page1 .page.page1 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper.active-page2 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.wrapper.active-page2 .page.page2 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper.active-page3 {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.wrapper.active-page3 .page.page3 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper.active-page4 {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
}

.wrapper.active-page4 .page.page4 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper.active-page5 {
  -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
}

.wrapper.active-page5 .page.page5 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper.active-page6 {
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
}

.wrapper.active-page6 .page.page6 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper.active-page7 {
  -webkit-transform: translateY(-600%);
          transform: translateY(-600%);
}

.wrapper.active-page7 .page.page7 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper.active-page8 {
  -webkit-transform: translateY(-700%);
          transform: translateY(-700%);
}

.wrapper.active-page8 .page.page8 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper.active-page9 {
  -webkit-transform: translateY(-800%);
          transform: translateY(-800%);
}

.wrapper.active-page9 .page.page9 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper.active-page10 {
  -webkit-transform: translateY(-900%);
          transform: translateY(-900%);
}

.wrapper.active-page10 .page.page10 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-panel {
  position: fixed;
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6), -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;
}

.nav-panel.invisible {
  opacity: 0;
  -webkit-transform: translateY(-50%) scale(0.5);
          transform: translateY(-50%) scale(0.5);
}

.nav-panel ul {
  list-style-type: none;
}

.nav-panel ul .nav-btn {
  position: relative;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin-bottom: 0.5em;
  border: 0.12em solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border-color, -webkit-transform 0.3s;
  transition: border-color, -webkit-transform 0.3s;
  transition: border-color, transform 0.3s;
  transition: border-color, transform 0.3s, -webkit-transform 0.3s;
  will-change: border-color, transform;
}

.nav-panel ul .nav-btn:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.3);
          transform: translateX(-50%) translateY(-50%) scale(0.3);
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform;
  transition: opacity 0.3s, -webkit-transform;
  transition: transform, opacity 0.3s;
  transition: transform, opacity 0.3s, -webkit-transform;
  will-change: transform, opacity;
}

.nav-panel ul .nav-btn.active:after, .nav-panel ul .nav-btn:hover:after {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
          transform: translateX(-50%) translateY(-50%) scale(0.7);
  opacity: 1;
}

.nav-panel ul .nav-btn:hover {
  border-color: yellow;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-panel ul .nav-btn:hover:after {
  background-color: yellow;
}

.nav-panel .scroll-btn {
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border: 0.2em solid #fff;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.nav-panel .scroll-btn.up {
  top: -1.6em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-panel .scroll-btn.down {
  bottom: -1.2em;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav-panel .scroll-btn:hover {
  border-color: yellow;
}

.check-out {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
}

.check-out a {
  color: #ffaaaa;
  text-decoration: none;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid;
}

h1 {
  color: rgba(158, 214, 252, 0.9);
  font: normal 100px Varela Round, sans-serif;
  height: 100px;
  left: 0;
  letter-spacing: 5px;
  /*margin: -80px 0 0 0;*/
  position: relative;
  /*text-align: center;*/
  text-transform: uppercase;
  /*top: 50%;*/
  width: 100%;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 rgb(85, 67, 56), 
      3px -3px 0 rgb(85, 67, 56), 
      2px -2px 0 rgb(85, 67, 56), 
      1px -1px 0 rgb(85, 67, 56), 
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 rgb(85, 67, 56), 
      3px 3px 0 rgb(85, 67, 56), 
      2px 2px 0 rgb(85, 67, 56),  
      1px 1px 0 rgb(85, 67, 56)
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 rgb(85, 67, 56), 
      -3px 3px 0 rgb(85, 67, 56), 
      -2px 2px 0 rgb(85, 67, 56), 
      -1px 1px 0 rgb(85, 67, 56), 
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 rgb(85, 67, 56), 
      -3px -3px 0 rgb(85, 67, 56), 
      -2px -2px 0 rgb(85, 67, 56), 
      -1px -1px 0 rgb(85, 67, 56)
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 rgb(85, 67, 56), 
      3px -3px 0 rgb(85, 67, 56), 
      2px -2px 0 rgb(85, 67, 56), 
      1px -1px 0 rgb(85, 67, 56), 
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}


/* https://codepen.io/qkevinto/pen/WQVNWO */
.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
}

.heading {
  color: #eee;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* https://codepen.io/dudleystorey/pen/kFoGw */

@keyframes slidy {
  0% { left: 0%; }
  25% { left: 0%; }
  30% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  65% { left: -200%; }
  70% { left: -300%; }
  85% { left: -300%; }
  90% { left: -400%; }
  100% { left: -400%; }
  }
  /** {
    box-sizing: border-box;
  }*/
  figure { 
    margin: 0;
    font-family: Istok Web, sans-serif;
    font-weight: 100;
  }
  div#captioned-gallery { 
    position: absolute;
    bottom: 10%;
    width: 100%; overflow: hidden; 
  }
  figure.slider { 
    height: 100%;
    position: relative; width: 500%;
    font-size: 0; animation: 25s slidy infinite; 
  }
  figure.slider figure { 
    width: 20%; height: auto;
    text-align: center;
    display: inline-block;  position: inherit; 
  }
  figure.slider img { width: auto; height: 100%; }
  figure.slider figure figcaption { 
    position: absolute; bottom: 0;
    background: rgba(0,0,0,0.4);
    color: #fff; width: 100%;
    font-size: 2rem; padding: .6rem; 
  }

/* https://codepen.io/rpcectdj-the-selector/pen/dyvmydo */
@use postcss-preset-env {
  stage: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*
html {
  box-sizing: border-box;
}

body {
  background-color: #32525a;
  color: #7e7e7e;
  font-family: Source Sans Pro, sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 10vmin;
}

a {
  color: #ce616f;
}

h1,
h2,
h3 {
  color: #fff;
  font-weight: 600;
}*/

.map__marker-info-header h2 {
  box-sizing: border-box;
  color: #fff;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.33em;
  margin-top: 0;
}

h3,
.h3 {
  font-size: 1.25em;
  margin: 0 0 0.5em;
}

p {
  margin: 0.5em 0;
}

svg {
  height: auto;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.subline {
  color: #cee0fc;
  font-weight: normal;
}

.align {
  display: grid;
  place-items: center;
}

.grid {
  /*position: absolute;
  margin-left: auto;
  margin-right: auto;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  width: 80%;
}

.map {
  margin-top:3em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.map2 {
  margin-top:3em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.cover {
    width: relative;
    height: relative;
    position: relative;
}
.cover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow:0 0 50px 30px #000000 inset;
}

.map__markers {
  list-style: none;
  margin: 0;
  padding: 0;
}

.map__marker {
  position: absolute;
}

.map__marker:after {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: pop;
  border-radius: 50%;
  border: 1px solid #ce606f;
  content: "";
  height: 1em;
  left: 0;
  margin: -0.5em 0 0 -0.5em;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1em;
}

.map__marker:hover .map__marker-info {
  display: block;
}

.map__marker__hover {
  display: block !important;
}

.map__marker > a {
  background-color:	#000000;
  border-radius: 50%;
  opacity:70%;
  border-style:outset;
  height: 1em;
  display: block;
  text-indent: -9999px;
  width: 1em;
}

.map__marker--night-street {
  left: 27%;
  top: 36%;
}

.map__marker--ckgate {
  left: 17%;
  top: 36%;
}

.map__marker--ckgate:after {
  animation-delay: 3s;
}

.map__marker--tnstation {
  left: 84%;
  top: 50%;
}

.map__marker--tnstation:after {
  animation-delay: 5s;
}

.map__marker--sport {
  left: 66%;
  top: 60%;
}

.map__marker--wastestreet {
  left: 35%;
  top: 35%;
}

.map__marker--wastestreet:after {
  animation-delay: 5s;
}

.map__marker--wastestreet2 {
  left: 45%;
  top: 35%;
}

.map__marker--wastestreet2:after {
  animation-delay: 5s;
}

.map__marker--sdroad {
  left: 10%;
  top: 60%;
}

.map__marker--sdroad:after {
  animation-delay: 5s;
}


.map__marker--volle {
  left: 52%;
  top: 46%;
}

.map__marker--volle:after {
  animation-delay: 5s;
}

.map__marker--playground{
  left: 80%;
  top: 60%;
}

.map__marker--playground:after {
  animation-delay: 5s;
}


.map__marker--dsroad {
  left: 43%;
  top: 40%;
}

.map__marker--dsroad:after {
  animation-delay: 5s;
}

.map__marker--cross {
  left: 8%;
  top: 33%;
}

.map__marker--cross:after {
  animation-delay: 5s;
}

.map__marker--sun {
  left: 48%;
  top: 49%;
}

.map__marker-sun:after {
  animation-delay: 5s;
}

.map__marker--waterpool {
  left: 25%;
  top: 90%;
}

.map__marker--waterpool:after {
  animation-delay: 5s;
}

.map__marker--cat1 {
  left: 60%;
  top: 50%;
}

.map__marker--cat1:after {
  animation-delay: 5s;
}

.map__marker--cat2 {
  left: 25%;
  top: 50%;
}

.map__marker--cat2:after {
  animation-delay: 5s;
}

.map__marker--gate {
  left: 65%;
  top: 75%;
}

.map__marker--gate:after {
  animation-delay: 5s;
}

.map__marker--left{
  left: 50%;
  top: 95%;
}

.map__marker--left:after {
  animation-delay: 5s;
}

.map__marker--right {
  left: 80%;
  top: 90%;
}

.map__marker--right:after {
  animation-delay: 5s;
}

.map__marker--night {
  left: 53%;
  top: 85%;
}

.map__marker--night:after {
  animation-delay: 5s;
}

.map__marker--library {
  left: 80%;
  top: 50%;
}

.map__marker-library:after {
  animation-delay: 5s;
}

.map__marker-info {
  display: none;
  left: 50%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -2em);
  width: relative;
  z-index: 999;
}

.map__marker-info-header {
  text-align: center;
  background-color: rgba(105,105,105,0.7);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: #fff;
  padding: 0.5em 1em;
}

.map__marker-info-main {
  background-color:  rgba(0, 0, 0, 0.7);
  margin-left: auto;
  margin-right: auto;
  height: 365px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: #7e7e7e;
  padding: 0.5em 1em;
}

.map__marker-info h2 {
  margin-bottom: 0;
}

.map__marker-info-inner {
  border-radius: 0.5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.7);
  font-size: 0.875em;
}

.map__marker-info-inner:after {
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  border-top: 1em solid #fff;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounce-in {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  80% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animate--bounce-in {
  animation-duration: 0.75s;
  animation-name: bounce-in;
}


/**/

.info{
  position: relative;
  right:0%;
}

li p, ul p, ul h5{
  color: rgb(252, 252, 252);
}


li p, ul p{
  font-size: 1.2em;
}

.card{
  padding: 2em;
  background-color: hsla(357, 100%, 62%, 0.719);
}

.div-center{
  /*margin: auto;*/
  margin: auto;
  height: 100%;
  padding: 5% 0 5% 0;
}

.page h4{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

#div-livestream{
  width: 80%;
  height: 80%;
}

iframe{
  width: 100%;
  height: 100%;
}

.photo-container{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  white-space: nowrap;
}

.middle_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.photo-container img{
  object-fit: contain;
  margin: auto;
  vertical-align : middle;
}